:root {
    --bg-black: #171717;
    --secondary-black: #444;
    --font-white: #f0f0ff;
    --purple: #A527E0;
    --purple-dark: #7A1CA7;
    --secondary-font: 'Baloo 2', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-black);
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Baloo 2', cursive;*/
    padding-left: 44px;
    padding-right: 44px;
    color: var(--font-white);
}

.header {
    width: 100%;
    height: 40px;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    color: var(--purple);
    padding: 8px 16px;
    border-radius: 8px;
}

.menu__item:hover {
    background: var(--font-white);
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    color: var(--font-white);
}

.section__title {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: var(--font-white);
}

.section__header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 16px;
    align-items: center;
}

.about-me-title {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-top: 16px;
    margin-bottom: 16px;
}

.about-me__info-description {
    font-family: var(--secondary-font);
    font-size: 1rem;
    margin-bottom: 48px;
    line-height: 120%;
}

strong {
    font-weight: 700;
}

.about-me-img {
    width: 148px;
    height: 148px;
    background: url(me.jpg);
    border-radius: 178px;
    margin: 16px auto;
    object-fit: cover;
}

.about-me__info-social {
    font-family: var(--secondary-font);
    font-size: 1rem;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.section__info-social--list {
    display: flex;
    justify-content: space-around;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: var(--secondary-black);*/
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.social__item-img {
    width: 24px;
}

.social__item:hover {
    background: var(--purple-dark);
}

.projects {
    width: 100%;
}

.projects__all {
    color: var(--purple);
    font-weight: 500;
}

.projects__all:hover {
    color: var(--purple-dark);
}

/*.projects__list {
    display: flex;
    flex-wrap: wrap;
}*/

.section__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 16px;
}

.section__item {
    /*width: 304px;
    height: 171px;*/
    background-color: var(--secondary-black);
    border-radius: 8px;
    overflow: hidden;
}

.section__list__item {
    max-width: 100%;
    height: 100%;
}

.section__item:hover{
    border: 2px solid var(--purple);
    box-sizing: border-box;
}

.projects__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 75%;
    color: var(--font-white);
    background-color: var(--purple);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    margin-top: 24px;
}

.projects__btn:hover{
    background-color: var(--purple-dark);
}

.projects__item--read-more {
    display: none;
}

.experience__download {
    width: 32px;
}

/*
.experience__item {
    width: 100%;
    height: 171px;
    background-color: var(--secondary-black);
    margin-bottom: 24px;
    border-radius: 8px;
}
*/
.experience__complete-resume--link {
    display: flex;
    width: 100%;
    color: var(--purple);
    align-items: center;
    justify-content: center;
    margin: 24px auto 44px auto;
}

.experience__complete-resume--text{
    margin-left: 8px;
}
/*
.experience__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
*/
.experience__item {
    width: 100%;
    height: 171px;
}

.experience__item--link {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.experience__item--img{
    width: 55%;
}

.experience__item--img:nth-last-child(1){
    height: 55%;
}

.education__item--link {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
}

.education__item--img {
    background-color: var(--secondary-black);
    height: 144px;
    padding: 16px 24px;
    border-radius: 8px;
    box-sizing: border-box;
}

.education__item__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;
}

.education__item__info--institution {
    font-weight: 700;
}

.education__item__info {
    line-height: 20px;
}

.back-to-top-btn--link {
    background-color: var(--font-white);
    width: 162px;
    height: 40px;
    border-radius: 20px;
    margin: 44px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top-btn--name {
    color: var(--purple);
}

@keyframes backToTopIcon {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}

.back-to-top-btn--img {
    width: 32px;
    margin-right: 8px;
    animation: backToTopIcon 2s ease infinite;
}

/*Footer*/
.footer {
    height: 20vh;
}

.footer__title {
    text-align: center;
    margin-bottom: 16px;
}

.footer__description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 16px;
}

@media screen and (min-width:720px) {
    .section__item {
        width: 304px;
        height: 171px;
    }
}

@media screen and (min-width:1000px) {
    /*Header*/
    .header {
        display: flex;
        width: 100%;
        height: 64px;
        justify-content: flex-end;    
    }
    .menu {
        width: 30%;
    }

    /*Main*/
    /*About me*/
    .about-me{
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .about-me__info {
        order: -1;
        align-self: center;
    }

    .about-me-title{
        font-size: 3.5rem;
        letter-spacing: 0.05em;
    }

    .about-me__info-description {
        font-size: 1.5rem;
    }

    .main .section__info-social--list {
        justify-content: flex-start;
        column-gap: 16px;
    }

    .social__item{
        height: 52px;
        width: 52px;
    }

    .social__item-img {
        width: 32px;
    }

    .about-me-img {
        width: 388px;
        height: 388px;
        border-radius: 100%;
        margin-left: 92px;
    }

    .section__title {
        font-size: 2.5rem;
    }

    /*Projects*/
    .projects__btn {
        width: 30%;
    }

    .projects__all {
        display: none;
    }

    /*Experience*/
    img[alt="Open resume in a new tab"] {
        display: none;
    }

    .experience__complete-resume--link {
        justify-content: flex-start;
    }

    /*Education*/


    /*Footer*/
    .footer .section__info-social--list{
        justify-content: center;
        column-gap: 16px;
    }
}

@media screen and (min-width:1367px) {
    /*TBD*/
}
